/*
Averta Family by The Designers Foundry tm
Copyright © 2015 The Designers Foundry. All rights reserved.
https://www.thedesignersfoundry.com
@TDFoundry
Third-parties are not permitted to use these Fonts without a license.

The Information above must always remain unedited and in your CSS.

*/


@font-face {
    font-family: 'averta';
    src: url('averta-regular-webfont.eot');
    src: url('averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('averta-regular-webfont.woff2') format('woff2'),
         url('averta-regular-webfont.woff') format('woff'),
         url('averta-regular-webfont.ttf') format('truetype'),
         url('averta-regular-webfont.svg#avertaregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'averta';
    src: url('averta-regularitalic-webfont.eot');
    src: url('averta-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('averta-regularitalic-webfont.woff2') format('woff2'),
         url('averta-regularitalic-webfont.woff') format('woff'),
         url('averta-regularitalic-webfont.ttf') format('truetype'),
         url('averta-regularitalic-webfont.svg#avertaregular') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'averta';
    src: url('averta-semibold-webfont.eot');
    src: url('averta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('averta-semibold-webfont.woff2') format('woff2'),
         url('averta-semibold-webfont.woff') format('woff'),
         url('averta-semibold-webfont.ttf') format('truetype'),
         url('averta-semibold-webfont.svg#avertasemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}


@font-face {
    font-family: 'averta';
    src: url('averta-semibolditalic-webfont.eot');
    src: url('averta-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('averta-semibolditalic-webfont.woff2') format('woff2'),
         url('averta-semibolditalic-webfont.woff') format('woff'),
         url('averta-semibolditalic-webfont.ttf') format('truetype'),
         url('averta-semibolditalic-webfont.svg#avertasemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'averta';
    src: url('averta-light-webfont.eot');
    src: url('averta-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('averta-light-webfont.woff2') format('woff2'),
         url('averta-light-webfont.woff') format('woff'),
         url('averta-light-webfont.ttf') format('truetype'),
         url('averta-light-webfont.svg#avertalight') format('svg');
    font-weight: 600;
    font-style: italic;

}

/*Set default font*/
body, p, h1, h2, h3 {
     font-family: 'averta';
}

h2 {
    color: $purple;
    font-size: 22px;
}

/*Literally center all the things*/
.center {
    text-align: center;
}

hr {
    border-top: 1px solid $purple;
}

.wpcf7-form-control-wrap {
    input, textarea {
        width: 100%;
        border: 0px solid transparent;
        padding: 10px;
    }
}

.wpcf7 p {
    text-align: left;
    color: $muted;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.wpcf7-submit {
    background-color: $light;
    padding: 5px 40px 5px 40px;
    text-transform: uppercase;
    border: none;
    outline:none;
    color: white;
}

.wpcf7-form-control {
    margin-top: 5px;
}

.wpcf7-response-output {
    display: none;
}

div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
    border: 0px solid transparent;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 5px;
}

div.wpcf7-validation-errors {
    color: red;
}

.contact {
    margin-bottom: 40px;
}