.brand {
  text-transform: uppercase;
}

.slogan {
  color: $light;
}

.navbar-default {
  background: white;
  border: transparent;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.navbar a:visited {
  color: $purple;
}

.navbar-header{
  padding-top: 15px;
}
.navbar li {
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
  color: $purple;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: $purple;
  border-bottom: 1px solid $purple;
  background: transparent;
}

.dark-block {
  background-color: #424242;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navbar-right li:last-child a {
  background: $purple;
  color: white;
  padding: 7px;
  margin: 7px;
}

@media only screen and (max-width : 768px) {
  .navbar-header {
    padding-left: 25px;
  }
    }