.hero-video {
  margin-top: 50px;
  margin-bottom: -320px;
}

.body-copy {
  margin-top: 280px;
}

.homepage-box {
  display: flex;
    align-items: center;
  .powerpress_links {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.host {
  img {
    width: 100%;
  }

  .name {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .button {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

  .body-box {
    background: #F4F4F4;
    margin-top: 20px;
    margin-bottom: 20px;
  }

/*Add padding to rows to fix BG overflow*/
  .home-fix {
   padding-left: 20px;
   padding-right: 20px;
  }

  .hero-left {
    font-size: 22px;
  }

  .hero-right {
    font-size: 19px;
  }

  .white-box {
    background: white;
    padding: 0px;
  }

  .podcast-box {
    background: white;
    margin-bottom: 25px;
  }

 .white-box:first-of-type {
    background: white;
    margin-top:20px;
  }

  .podcast-holder {
    bottom: 0px;
  }

  .powerpress_links {
      display:none;
    }
  .podcast-player {
    padding: 0px;
    margin-bottom: 20px;


  }

   .homepage-box:last-of-type {
    margin-bottom:20px;
  }

  .live-box {
    background: white;
    display: flex;
    border: 1px solid #DDDDDD;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
    padding: 40px;
    margin-bottom: 30px;
  }

  .live {
    .creators {
      border-left: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;
      border-bottom: 1px solid #DDDDDD;
    }

    .bump {
      margin-bottom: 30px;
    }

    .muted {
      color: $light;
    }
  }

.updated {
  color: #B1B1B1;
}

    .powerpress_player {
      margin-top: 10px;
      margin-left: -15px;
    margin-right: -15px;
    }

.entry-summary {
    padding-top: 10px;
    font-family: "averta-light";


    .powerpress_links {
      padding-top: 5px;
    }
}

/* Author boxes on home page -- MOVE THIS LATER */
.creators {
  color: $purple;
  padding: 40px 40px 40px 40px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 24px 8px rgba(207,207,207,0.12);
-moz-box-shadow: 0px 9px 24px 8px rgba(207,207,207,0.12);
box-shadow: 0px 9px 24px 8px rgba(207,207,207,0.12);

  @include center();

  img {
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 10px;
  }
}

.powerpress_links {
  padding-top: 20px;
}

.muted {
  color: $grey;
  font-size: 16px;
}

.podcasts {
  h2 {
  font-size: 15px;
  margin-bottom: 0px;
}
}

.heading {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 22px;
  color: $purple;
  margin-top: 30px;
  text-transform: uppercase;
}

.line {
    border-top: 1px solid $purple;
}

.video-box {
  padding: 15px;
  border: 1px solid $purple;
}

/*Turn off flexbox -- this should be moved to a media queries CSS file*/
@media (max-width: 768px) {
    .homepage-box {
        padding-top: 20px;
        display: block !important;
    }
}

@media (max-width: 468px) {
    .host {
      margin-bottom: 20px;
    }

    .slogan {
      display: none;
    }

    .dark-block {
      margin-top: -200px;
      padding-top: 250px;
      padding-bottom: 150px;
    }

    .navbar-right li:last-child a {
      padding-left: 7px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border: 0px solid $black;
    }
}

.archive-box {
  background: white;
  padding: 5px 20px 30px 20px;
}

.live-box {
  .form-control {
    border: 2px solid $purple !important;
    border-radius: 2px;
    width: 74%;
    padding: 10px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 42px;
    margin-right: -30px;
    display: inline;
  }

  .btn {
    width: 25%;
    margin-top:-3px;
    padding: 10px 0px 10px 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .nopad {
    .left {
      padding-left: 0px;
    }
    .right {
      padding-right: 0px;
    }
  }

  .tiny {
    font-size: 11px;
    padding-top: 10px;
  }
}

.archive {
  margin-top: 40px;
  margin-bottom: 40px;
}

.archive-contain {
  img {
    max-width: 100%;
    height: auto;
  }

  .entry-title a {
    color: #934EF2;
    font-size: 18px;
    text-transform: uppercase;
  }

  p{
    margin-bottom: 25px;
  }

}


.button {
  background: #934EF2;
  color: #fff;
  padding: 10px 47px 10px 47px;
  border-radius: 0px;

  &:hover {
    background: $light;
    text-decoration: none;
    color: white;
  }
}


