
.post {
  background: white;
  border: 1px solid #DDD;
}

.post-bump {
  margin-bottom: 40px;
}

.unpad {
  padding-left: 0px;
  padding-right: 0px;
}

.section-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bump-top {
  margin-top: 40px;
}

.entry-content {
  padding-left: 30px;
  padding-right: 30px;
}

.pad-post {
  .top {
    padding-top: 30px;
  }

  .bottom {
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
}

.dual-column {
  column-count: 2;
  column-gap: 4em;
  column-rule: 1px solid #ddd;
}

.post-header {
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 10px;
}

.episode-number {
  color: $purple;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.player-block {
  background: $purple;

  .powerpress_links, .powerpress_links_mp3 {
    display: none;
  }

  .mejs-mediaelement, .mejs-controls, .mejs-container {
    background: $purple !important;
  }

  .mejs-controls .mejs-time-rail .mejs-time-current {
    background: $muted;
  }

  .powerpress_player {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.author-intro {
  color: $purple;
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
}

.author-name {
  text-transform: uppercase;
}

.read-more {
  padding-top: 5px;
}

.thumb {
  padding-left: 0px;
  img {
  width: 100%;
  height: auto;
}
}

.entry-content {
  color: $black;
  line-height: 25px;
}